# Ignore Airflow Logs
logs/

# Ignore Data Lake
spark_data/

# Ignore Database Files (CRITICAL ADDITION)
timescale_data/
postgres_data/

# Ignore Python Environment
venv/
.env

# Ignore Compiled Files
__pycache__/
*.pyc

# Ignore IDE settings
.vscode/
.idea/